.dropbox
.DS_Store
/build
/bundle
/dist/esm
/dist/global
/dist/LICENSE.md
/dist/synth
/node_modules
/website/beepbox*.js
/website/beepbox*.js.map
/website/player/beepbox*.js
/website/player/beepbox*.js.map
/website/competition/**/beepbox*.js
/website/competition/**/beepbox*.js.map
/website/beepbox_offline.html
